@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:100italic,400,700,600,700italic,100|Source+Sans+Pro:400,600|Montserrat:400,700,500,600,400italic,100|Lato:400,700,400italic|Poppins:400,600italic,700,500,600|Rubik:700|Kantumruy:400,300,700|DM+Sans:400,700,500");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63ed31b905d0cd1ecddaf794.63ed31ba05d0cd1ecddaf797.CLkqI7t.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.place {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.design {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.lit-review-on-self-efficacy {
  height: 17px;
  letter-spacing: 0.98px;
  line-height: normal;
  white-space: nowrap;
}

.see-more-of-my-work {
  height: 18px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.dl6-s-aik-iwp-ultfdcpng {
  height: 60px;
  width: 60px;
}

.h4 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.m-mal-nog4-sn1p-z-nt-epng {
  height: 60px;
  width: 60px;
}

.sign-language-translation-app {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 254px;
}

.m-mal-nog4-sn1p-z-nt-epng-3 {
  height: 60px;
  width: 60px;
}

.mac-book-pro-14-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3130px;
  left: 0;
  padding: 29px 0;
  position: absolute;
  top: 0;
  width: 1497px;
}

.thumbnail-1 {
  height: 716px;
  margin-top: 31px;
  object-fit: cover;
  width: 1492px;
}

.our-website-rate-my {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 165px;
  letter-spacing: 0.44px;
  line-height: 27.5px;
  margin-right: 44.0px;
  margin-top: 23px;
  width: 1213px;
}

.specific-pre-determ {
  height: 202px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  width: 795px;
}

.top-5-features {
  color: var(--mahogany);
  font-family: var(--font-family-inter);
  font-size: 13px;
  font-weight: 700;
  height: 17px;
  letter-spacing: 0.98px;
  line-height: normal;
  width: 128px;
}

.skills {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 19px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0.40px;
  line-height: normal;
  margin-left: -1px;
  margin-top: -1px;
  width: 85px;
}

.divcomp-kxb {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 86px;
  padding: 2px 0;
  width: 160px;
}

.storyboarding {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.wireframing {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.address {
  height: 22px;
  left: 227px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 77px;
}

.divcomp-kxb-container {
  align-items: flex-start;
  display: flex;
  gap: 67px;
  height: 86px;
  min-width: 387px;
}

.think-aloud-study {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.figma {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.divcomp-kxb8nw4t {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 1px;
  min-height: 58px;
  padding: 2px 0;
  width: 160px;
}

.prototyping-wireframing {
  color: var(--mahogany);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 48px;
  letter-spacing: 0.84px;
  line-height: normal;
  margin-left: 120px;
  margin-top: 54px;
  min-width: 281px;
  text-align: center;
}

.throughout-the-devel {
  height: 194px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  margin-left: 120px;
  margin-top: 110px;
  width: 703px;
}

.in-addition-to-the-s {
  height: 825px;
  left: 566px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  position: absolute;
  top: 0;
  width: 548px;
}

.rate-my-cmu-ta-high-fidelity {
  height: 19px;
  left: 0;
  letter-spacing: 0.32px;
  line-height: 22.4px;
  position: absolute;
  top: 715px;
  white-space: nowrap;
  width: 786px;
}

.divcomp-kyrqov39 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 134px;
  min-height: 150px;
  position: absolute;
  top: 197px;
  width: 253px;
}

.screen-shot-2023-01-31-at-203-1 {
  height: 432px;
  margin-right: -881px;
  margin-top: -660px;
  object-fit: cover;
  width: 530px;
}

.rate-my-cmu-ta-prototyping {
  height: 19px;
  letter-spacing: 0.32px;
  line-height: 22.4px;
  margin-right: -1083.62px;
  white-space: nowrap;
  width: 588px;
}

.bake-off1-1-2-1 {
  height: 662px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 703px;
}

.footer {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  flex-direction: row;
  height: 357px;
  justify-content: flex-start;
  left: 0;
  min-width: 1497px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2773px;
  width: auto;
}

.h4-1 {
  padding: 0px 66.05px 0.38px 0px;
}

.dl6-s-aik-iwp-ultfdcpng-1 {
  height: 60px;
  width: 60px;
}

.m-mal-nog4-sn1p-z-nt-epng-1 {
  height: 60px;
  width: 60px;
}

.h4-3 {
  padding: 0px 66.05px 0.38px 0px;
}

.user {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}