/* screen - macbook-pro-14-5 */

.macbook-pro-14-5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 168px;
  height: 2882px;
  padding: 73px 97px;
  width: 1534px;
}

.macbook-pro-14-5 .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 7px;
  height: 527px;
  min-width: 1332px;
}

.macbook-pro-14-5 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 297px;
  width: 734px;
}

.macbook-pro-14-5 .title {
  height: 44px;
  letter-spacing: 0;
  line-height: 39px;
  text-align: center;
  white-space: nowrap;
  width: 541px;
}

.macbook-pro-14-5 .span1 {
  text-decoration: underline;
}

.macbook-pro-14-5 .cmu-student-body-vic {
  align-self: flex-end;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 107px;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: 38px;
  min-width: 699px;
  text-decoration: underline;
}

.macbook-pro-14-5 .span0-1 {
  color: #c25b5b;
}

.macbook-pro-14-5 .span1-1 {
  color: #34756e;
}

.macbook-pro-14-5 .span2 {
  color: #715da7;
}

.macbook-pro-14-5 .group-6 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-right: 109.0px;
  margin-top: 60px;
  min-width: 437px;
}

.macbook-pro-14-5 .overlap-group2 {
  background-image: url(../img/rectangle-1.svg);
  padding: 0 39px;
}

.macbook-pro-14-5 .language {
  height: 28px;
  letter-spacing: 0;
  line-height: 27.2px;
  min-width: 54px;
  white-space: nowrap;
}

.macbook-pro-14-5 .overlap-group1 {
  background-image: url(../img/rectangle-3.svg);
  justify-content: flex-end;
  margin-left: 12px;
  padding: 0 25px;
}

.macbook-pro-14-5 .language-1 {
  min-width: 68px;
}

.macbook-pro-14-5 .overlap-group {
  background-image: url(../img/rectangle-4.svg);
  justify-content: flex-end;
  margin-left: 23px;
  padding: 0 34px;
}

.macbook-pro-14-5 .language-2 {
  min-width: 59px;
}

.macbook-pro-14-5 .rectangle-2 {
  height: 48px;
  margin-bottom: -1480px;
  margin-left: 1414px;
  width: 132px;
}

.macbook-pro-14-5 .flex-col-1 {
  align-items: flex-end;
  min-height: 527px;
  width: 591px;
}

.macbook-pro-14-5 .div {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  margin-right: 60.61px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .div-1 {
  height: 16px;
  min-width: 58.39px;
  position: relative;
}

.macbook-pro-14-5 .resume {
  color: var(--medium-red-violet);
  cursor: pointer;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  min-width: 81px;
  text-decoration: underline;
  white-space: nowrap;
}

.macbook-pro-14-5 .img_2286-1 {
  align-self: flex-start;
  height: 354px;
  margin-top: 141px;
  object-fit: cover;
  width: 576px;
}

.macbook-pro-14-5 .flex-col-2 {
  align-items: flex-end;
  align-self: center;
  margin-left: 7.0px;
  min-height: 1473px;
  width: 1249px;
}

.macbook-pro-14-5 .flex-row-1 {
  margin-right: 4px;
  min-width: 1200px;
}

.macbook-pro-14-5 .screenshot-2023-03-03-at-1051-1 {
  height: 314px;
  object-fit: cover;
  width: 560px;
}

.macbook-pro-14-5 .divw-node-_7ce3509b {
  align-items: flex-start;
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  min-height: 314px;
  padding: 34px 0;
  width: 640px;
}

.macbook-pro-14-5 .sign-language-translate-app {
  color: #4861e9;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 35px;
  min-width: 308px;
  position: relative;
  white-space: nowrap;
}

.macbook-pro-14-5 .div-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -81px;
  margin-top: 6px;
  opacity: 0.6;
  padding: 0px 289px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .strong {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .web-development-ap {
  color: #4723b0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-5 .independent-study-in-mcs {
  color: #b02391;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 100;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-5 .a {
  align-items: flex-start;
  background-color: #949abc;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  margin-left: 35px;
  margin-top: 50px;
  padding: 10px 23.98px 10px 20px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .view-project {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-5 .flex-row-2 {
  gap: 9px;
  margin-right: 4px;
  margin-top: 60px;
  min-width: 1200px;
}

.macbook-pro-14-5 .x62e97b5f4f8e8b178e435d98_-groove204jpg {
  align-items: flex-start;
  background-image: url(../img/62e97b5f4f8e8b178e435d98-groove-20-4--jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  min-width: 551px;
}

.macbook-pro-14-5 .screenshot-2023-03-03-at-1050-1 {
  height: 314px;
  object-fit: cover;
  width: 564px;
}

.macbook-pro-14-5 .divw-node-_7ce3509b-1 {
  cursor: pointer;
  padding: 34px 0;
  width: 640px;
}

.macbook-pro-14-5 .sensing-projects {
  color: #4b195a;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 35px;
  position: relative;
  white-space: nowrap;
  width: 308px;
}

.macbook-pro-14-5 .div-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -81px;
  margin-top: 6px;
  opacity: 0.6;
  padding: 0px 289px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .sensor-applications {
  color: #451055;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 397px;
}

.macbook-pro-14-5 .x05-499-building-user {
  color: #a9a8ce;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-5 .a-1 {
  background-color: #966daf;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 35px;
  margin-top: 51px;
  padding: 10px 23.98px 10px 20px;
}

.macbook-pro-14-5 .flex-row-3 {
  margin-top: 77px;
  min-width: 1249px;
}

.macbook-pro-14-5 .screenshot-2023-03-03-at-1031-2 {
  height: 326px;
  width: 596px;
}

.macbook-pro-14-5 .divw-node-_7ce3509b-2 {
  padding: 34px 35px;
  width: 653px;
}

.macbook-pro-14-5 .oh-lab {
  color: var(--chestnut);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: 34px;
  position: relative;
  white-space: nowrap;
  width: 308px;
}

.macbook-pro-14-5 .undergraduate-researcher {
  color: var(--chestnut);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 1px;
  margin-top: 7px;
  white-space: nowrap;
}

.macbook-pro-14-5 .a-2 {
  background-color: var(--chestnut);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 74px;
  padding: 10px 23.98px 10px 20px;
}

.macbook-pro-14-5 .div-4 {
  align-items: flex-start;
  align-self: center;
  background-color: #5e9393;
  border-radius: 10px;
  box-shadow: 1px 1px 13px -4px #bcc4d1;
  display: flex;
  gap: 0.03px;
  margin-right: 7.0px;
  margin-top: 68px;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .x60919343c9ef0e0a843e {
  background-image: url(../img/60919343c9ef0e0a843e38c7-icon-lightgray-png.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  height: 313.91px;
  min-width: 559.97px;
  position: relative;
}

.macbook-pro-14-5 .screenshot-2023-02-19-at-1254-1 {
  height: 314px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 560px;
}

.macbook-pro-14-5 .divw-node-dfc3f7e6-8 {
  background-color: var(--white);
  cursor: pointer;
  height: 313.91px;
  min-width: 640px;
  position: relative;
}

.macbook-pro-14-5 .flex-col-3 {
  align-items: flex-start;
  left: 35px;
  min-height: 165px;
  position: relative;
  top: 35px;
  width: 600px;
}

.macbook-pro-14-5 .a-3 {
  background-color: var(--white);
  padding: 0px 446px 0px 0px;
}

.macbook-pro-14-5 .rate-my-ta {
  color: #682626;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-5 .uxui-design {
  color: var(--eerie-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 4px;
  min-width: 112px;
  opacity: 0.6;
  position: relative;
  white-space: nowrap;
}

.macbook-pro-14-5 .a-4 {
  background-color: #463f4a;
  border-radius: 10px;
  margin-top: 51px;
  padding: 10px 23.98px 10px 20px;
}

.macbook-pro-14-5 .a-5 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-5 .divw-node-_7ce3509b-3 {
  align-items: flex-start;
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  min-height: 314px;
}

.macbook-pro-14-5 .flex-col-4 {
  display: flex;
  flex-direction: column;
}

.macbook-pro-14-5 .flex-row-4 {
  align-items: flex-start;
  display: flex;
}

.macbook-pro-14-5 .language-3 {
  height: 28px;
  letter-spacing: 0;
  line-height: 27.2px;
  white-space: nowrap;
}

.macbook-pro-14-5 .overlap {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  min-width: 132px;
}
