/* screen - macbook-pro-14u34-8 */

.macbook-pro-14u34-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1497px;
}

.macbook-pro-14u34-8 .overlap-group9 {
  height: 3130px;
  position: relative;
  width: 1497px;
}

.macbook-pro-14u34-8 .overlap-group7 {
  height: 3130px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1497px;
}

.macbook-pro-14u34-8 .div {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  margin-left: 18px;
  position: relative;
}

.macbook-pro-14u34-8 .div-1 {
  background-color: var(--athens-gray);
  border-radius: 25px;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.macbook-pro-14u34-8 .nyc_headshot_-_cropped_aoyjpg {
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.macbook-pro-14u34-8 .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 1.39px 0px 0px;
  position: relative;
}

.macbook-pro-14u34-8 .fall-2022-ux-design {
  height: 19px;
  letter-spacing: 1.12px;
  line-height: 19px;
  margin-left: 120px;
  margin-top: 18px;
  white-space: nowrap;
}

.macbook-pro-14u34-8 .flex-row {
  align-self: center;
  gap: 73px;
  margin-left: 19.0px;
  margin-top: 39px;
  min-width: 1292px;
}

.macbook-pro-14u34-8 .overlap-group4 {
  height: 272px;
  position: relative;
  width: 832px;
}

.macbook-pro-14u34-8 .divcomp-kxc4riom {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 8px #00000078;
  display: flex;
  height: 250px;
  left: 1px;
  min-width: 831px;
  padding: 14px 11px;
  position: absolute;
  top: 22px;
}

.macbook-pro-14u34-8 .overlap-group-1 {
  align-items: flex-start;
  background-color: #e5d2e1;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  height: 37px;
  left: 0;
  min-width: 832px;
  padding: 9px 13px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .flex-col {
  flex-direction: column;
  gap: 7px;
  margin-top: 2px;
  min-height: 208px;
  width: 387px;
}

.macbook-pro-14u34-8 .overlap-group2 {
  height: 115px;
  position: relative;
  width: 342px;
}

.macbook-pro-14u34-8 .div-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  min-height: 114px;
  position: absolute;
  top: 1px;
  width: 342px;
}

.macbook-pro-14u34-8 .skills {
  height: 24px;
  letter-spacing: 0.40px;
  line-height: normal;
  margin-left: -1px;
  margin-top: -1px;
  width: 85px;
}

.macbook-pro-14u34-8 .usability-testing {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.macbook-pro-14u34-8 .role {
  height: 24px;
  left: 227px;
  letter-spacing: 0.40px;
  line-height: normal;
  position: absolute;
  top: 89px;
  white-space: nowrap;
  width: 64px;
}

.macbook-pro-14u34-8 .timeline {
  height: 24px;
  left: 227px;
  letter-spacing: 0.40px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 101px;
}

.macbook-pro-14u34-8 .prototyping {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 28.8px;
  white-space: nowrap;
}

.macbook-pro-14u34-8 .divcomp-kxb8nw4t {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 1px;
  min-height: 58px;
  padding: 2px 0;
  width: 160px;
}

.macbook-pro-14u34-8 .overlap-group-container {
  align-self: center;
  height: 825px;
  margin-left: 47.0px;
  margin-top: 101px;
  position: relative;
  width: 1304px;
}

.macbook-pro-14u34-8 .overlap-group3 {
  height: 825px;
  left: 190px;
  position: absolute;
  top: 0;
  width: 1114px;
}

.macbook-pro-14u34-8 .overlap-group1 {
  height: 662px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 703px;
}

.macbook-pro-14u34-8 .footer {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  flex-direction: row;
  height: 357px;
  justify-content: flex-start;
  left: 0;
  min-width: 1497px;
  position: absolute;
  top: 2773px;
  width: auto;
}

.macbook-pro-14u34-8 .overlap-group6 {
  height: 357px;
  position: relative;
  width: 1497px;
}

.macbook-pro-14u34-8 .div-4 {
  align-items: flex-start;
  background-color: var(--mystic);
  display: flex;
  gap: 48px;
  height: 288px;
  justify-content: flex-end;
  left: 0;
  min-width: 1497px;
  padding: 40px 175.4px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .div-5 {
  align-items: flex-start;
  display: flex;
  height: 189px;
  width: 350px;
}

.macbook-pro-14u34-8 .div-6 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  position: relative;
}

.macbook-pro-14u34-8 .div-7 {
  background-color: var(--athens-gray);
  border-radius: 30px;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px;
}

.macbook-pro-14u34-8 .nyc_headshot_-_cropped_aoyjpg-1 {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.macbook-pro-14u34-8 .div-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 6.52px 0px 0px;
  position: relative;
}

.macbook-pro-14u34-8 .name {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-8 .resume {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-8 .div-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 189px;
  width: 747px;
}

.macbook-pro-14u34-8 .see-more-of-my-work {
  height: 18px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.macbook-pro-14u34-8 .div-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  min-height: 144px;
  width: 747px;
}

.macbook-pro-14u34-8 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 65px;
  margin-left: -4.14px;
  min-width: 752px;
}

.macbook-pro-14u34-8 .div-11 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  width: 362px;
}

.macbook-pro-14u34-8 .overlap-group2-1 {
  align-items: center;
  background-color: var(--lola);
  display: flex;
  height: 60px;
  min-width: 60px;
  padding: 0 5px;
}

.macbook-pro-14u34-8 .mac-book-pro-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 50px;
}

.macbook-pro-14u34-8 .screen-body {
  align-items: center;
  background-image: url(../img/screen-body@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4.77px;
  min-height: 28px;
  width: 41px;
}

.macbook-pro-14u34-8 .camera {
  align-items: flex-end;
  background-color: var(--woodsmoke);
  border: 0.2px solid;
  border-color: var(--licorice);
  border-radius: 0.14px;
  display: flex;
  justify-content: flex-end;
  margin-left: 0.68px;
  margin-top: 1px;
  min-width: 1px;
}

.macbook-pro-14u34-8 .ellipse-container {
  background-color: var(--mirage);
  border-radius: 0.03px;
  margin-bottom: -0.14px;
  position: relative;
}

.macbook-pro-14u34-8 .ellipse-3 {
  background-color: var(--cod-gray);
  border-radius: 0.03px;
  left: 0;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .ellipse-2 {
  background-color: var(--steel-gray);
  border-radius: 0.05px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .display-paste-your-img {
  align-items: flex-start;
  background-color: var(--defaultshadeblack);
  display: flex;
  justify-content: center;
  margin-right: 0.28px;
  overflow: hidden;
  width: 39px;
}

.macbook-pro-14u34-8 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/cover@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 0;
  min-width: 39px;
}

.macbook-pro-14u34-8 .screenshot-2023-05-07-at-1058-1 {
  height: 25px;
  width: 39px;
}

.macbook-pro-14u34-8 .macbook-pro-13-sign {
  height: 1px;
  margin-right: 0;
  margin-top: 1px;
  width: 41px;
}

.macbook-pro-14u34-8 .body {
  height: 2px;
  width: 50px;
}

.macbook-pro-14u34-8 .div-12 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
}

.macbook-pro-14u34-8 .h4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.macbook-pro-14u34-8 .emo-sense {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-8 .div-13 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  width: 362px;
}

.macbook-pro-14u34-8 .div-14 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  display: flex;
  min-width: 60px;
}

.macbook-pro-14u34-8 .div-15 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
}

.macbook-pro-14u34-8 .oh-lab {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-8 .div-16 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  margin-left: -0.14px;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14u34-8 .overlap-group {
  height: 60px;
  position: relative;
  width: 428px;
}

.macbook-pro-14u34-8 .div-17 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .div-18 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
}

.macbook-pro-14u34-8 .div-19 {
  background-color: var(--snuff);
  height: 88px;
  left: 0;
  position: absolute;
  top: 269px;
  width: 1497px;
}

.macbook-pro-14u34-8 .div-20 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  height: 60px;
  left: 960px;
  overflow: hidden;
  position: absolute;
  top: 2951px;
  width: 362px;
}

.macbook-pro-14u34-8 .div-21 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .div-22 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
}

.macbook-pro-14u34-8 .ads-bias-on-instagram {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  width: 254px;
}

.macbook-pro-14u34-8 .flex {
  align-items: flex-start;
  display: flex;
}

.macbook-pro-14u34-8 .h4-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}
