/* screen - macbook-pro-14-11 */

.macbook-pro-14-11 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3671px;
  overflow: hidden;
  width: 1497px;
}

.macbook-pro-14-11 .frame-1 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  gap: 164px;
  height: 561px;
  padding: 25px;
  width: 1497px;
}

.macbook-pro-14-11 .div {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .div-1 {
  background-color: var(--athens-gray);
  border-radius: 25px;
  height: 50px;
  min-width: 50px;
  overflow: hidden;
  position: relative;
}

.macbook-pro-14-11 .nyc_headshot_-_cropped_aoyjpg {
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.macbook-pro-14-11 .div-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 1.39px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .overlap-group3 {
  align-self: center;
  height: 180px;
  margin-bottom: 17.0px;
  position: relative;
  width: 897px;
}

.macbook-pro-14-11 .title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 88px;
  font-weight: 700;
  height: 130px;
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 897px;
}

.macbook-pro-14-11 .x05-499-building-user {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 22px;
  font-weight: 400;
  height: 51px;
  left: 78px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 129px;
  width: 689px;
}

.macbook-pro-14-11 .flex-row {
  align-items: center;
  display: flex;
  gap: 75px;
  margin-left: 38px;
  margin-top: 27px;
  min-width: 1318px;
}

.macbook-pro-14-11 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 2.0px;
  min-height: 569px;
  width: 855px;
}

.macbook-pro-14-11 .divcomp-kxc4utlh {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  min-width: 832px;
}

.macbook-pro-14-11 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  height: 55px;
  margin-left: -2px;
  min-width: 834px;
  padding: 18px;
}

.macbook-pro-14-11 .step-counter-demo {
  height: 17px;
  letter-spacing: 0.98px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro-14-11 .span1 {
  text-decoration: underline;
}

.macbook-pro-14-11 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 8px #00000078;
  display: flex;
  height: 542px;
  justify-content: flex-end;
  margin-right: -2px;
  min-width: 832px;
  padding: 31px 18px;
}

.macbook-pro-14-11 .obtained-the-x-y-z {
  height: 479px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  width: 795px;
}

.macbook-pro-14-11 .screenshot-2023-03-11-at-1158-1 {
  height: 639px;
  object-fit: cover;
  width: 388px;
}

.macbook-pro-14-11 .flex-col-1 {
  align-items: center;
  margin-left: -103px;
  margin-top: 41px;
  min-height: 2403px;
  width: 1600px;
}

.macbook-pro-14-11 .divcomp-kyey590p {
  border-color: var(--mercury);
  border-top-style: solid;
  border-top-width: 1px;
  height: 5px;
  margin-left: 44.0px;
  width: 1194px;
}

.macbook-pro-14-11 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 69px;
  height: 840px;
  margin-left: 51.0px;
  margin-top: 56px;
  min-width: 1293px;
}

.macbook-pro-14-11 .flex-col-2 {
  align-items: flex-start;
  gap: 18px;
  margin-top: 13px;
  min-height: 770px;
  width: 535px;
}

.macbook-pro-14-11 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  min-width: 535px;
}

.macbook-pro-14-11 .overlap-group9 {
  height: 360px;
  position: relative;
  width: 280px;
}

.macbook-pro-14-11 .square-blue {
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
  width: 59px;
}

.macbook-pro-14-11 .img_4423-3 {
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 259px;
}

.macbook-pro-14-11 .circle-red {
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 330px;
  white-space: nowrap;
  width: 215px;
}

.macbook-pro-14-11 .overlap-group8 {
  align-items: flex-end;
  background-image: url(../img/img-4420@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 374px;
  justify-content: flex-end;
  min-width: 255px;
  padding: 30px 13px;
}

.macbook-pro-14-11 .square-blue-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 7px;
  white-space: nowrap;
  width: 150px;
}

.macbook-pro-14-11 .overlap-group-container-1 {
  align-items: flex-end;
  display: flex;
  gap: 4px;
  min-width: 535px;
}

.macbook-pro-14-11 .overlap-group6 {
  height: 378px;
  position: relative;
  width: 271px;
}

.macbook-pro-14-11 .img_4419 {
  height: 378px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 259px;
}

.macbook-pro-14-11 .triangle-purple {
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 350px;
  white-space: nowrap;
  width: 206px;
}

.macbook-pro-14-11 .overlap-group7 {
  align-items: flex-end;
  background-image: url(../img/img-4417@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 374px;
  justify-content: flex-end;
  min-width: 260px;
  padding: 13px 14px;
}

.macbook-pro-14-11 .line-green {
  letter-spacing: 0;
  line-height: normal;
  min-height: 10px;
  white-space: nowrap;
  width: 119px;
}

.macbook-pro-14-11 .flex-col-3 {
  align-items: flex-end;
  min-height: 840px;
  width: 689px;
}

.macbook-pro-14-11 .div-3 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  min-width: 689px;
  padding: 29px 0;
}

.macbook-pro-14-11 .embedded-computing-with-particle-demo {
  height: 17px;
  letter-spacing: 0.98px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro-14-11 .divcomp-kxc4riom {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 8px #00000078;
  display: flex;
  height: 763px;
  min-width: 683px;
  padding: 15px 9px;
}

.macbook-pro-14-11 .first-i-utilized-qw {
  height: 731px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  width: 647px;
}

.macbook-pro-14-11 .flex-col-4 {
  align-items: center;
  margin-top: 30px;
  min-height: 1472px;
  width: 1600px;
}

.macbook-pro-14-11 .divcomp-kyey590p-1 {
  border-color: var(--mercury);
  border-top-style: solid;
  border-top-width: 1px;
  height: 5px;
  margin-right: 132.0px;
  width: 1194px;
}

.macbook-pro-14-11 .final-project-proposal {
  align-self: flex-start;
  color: #cc90de;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  height: 24px;
  letter-spacing: 0.84px;
  line-height: normal;
  margin-left: 170px;
  margin-top: 61px;
  min-width: 230px;
  text-align: center;
  white-space: nowrap;
}

.macbook-pro-14-11 .div-4 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  border-radius: 20px;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-right: 37.0px;
  margin-top: 45px;
  min-width: 817px;
  padding: 18px 0;
}

.macbook-pro-14-11 .emotion-recognition-streamlit-web-cam {
  height: 17px;
  letter-spacing: 0.98px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro-14-11 .div-5 {
  align-items: flex-start;
  background-color: var(--waikawa-gray);
  border-radius: 10px;
  box-shadow: 1px 1px 40px #3c055a1a;
  display: flex;
  height: 261px;
  margin-left: 59.0px;
  margin-top: 32px;
  min-width: 997px;
  padding: 15px 100px;
}

.macbook-pro-14-11 .recently-mental-hea {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 227px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  width: 797px;
}

.macbook-pro-14-11 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  gap: 16px;
  margin-left: 100.0px;
  margin-top: 48px;
  min-width: 1300px;
}

.macbook-pro-14-11 .divcomp-kxc4riom-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 8px #00000078;
  display: flex;
  height: 483px;
  min-width: 426px;
  padding: 48px 20px;
}

.macbook-pro-14-11 .existing-face-emotio {
  height: 375px;
  letter-spacing: 0.36px;
  line-height: 25.2px;
  width: 374px;
}

.macbook-pro-14-11 .sensing_project-2 {
  height: 481px;
  object-fit: cover;
  width: 858px;
}

.macbook-pro-14-11 .div-6 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--mystic);
  display: flex;
  gap: 48px;
  height: 307px;
  margin-top: 56px;
  min-width: 1512px;
  padding: 40px 183.4px;
}

.macbook-pro-14-11 .div-7 {
  align-items: flex-start;
  display: flex;
  height: 189px;
  width: 350px;
}

.macbook-pro-14-11 .div-8 {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .div-9 {
  background-color: var(--athens-gray);
  border-radius: 30px;
  height: 60px;
  min-width: 60px;
  overflow: hidden;
  position: relative;
}

.macbook-pro-14-11 .nyc_headshot_-_cropped_aoyjpg-1 {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.macbook-pro-14-11 .div-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 6.52px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .name {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-11 .resume {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-11 .div-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 189px;
  width: 747px;
}

.macbook-pro-14-11 .see-more-of-my-work {
  height: 18px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.macbook-pro-14-11 .div-12 {
  align-items: flex-end;
  display: flex;
  gap: 42px;
  height: 144px;
  justify-content: flex-end;
  min-width: 747px;
}

.macbook-pro-14-11 .flex-col-5 {
  align-items: flex-start;
  gap: 39px;
  margin-bottom: -10px;
  min-height: 159px;
  width: 362px;
}

.macbook-pro-14-11 .div-13 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  width: 362px;
}

.macbook-pro-14-11 .div-14 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  display: flex;
  min-width: 60px;
}

.macbook-pro-14-11 .div-15 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .h4 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-11 .oh-lab {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-11 .div-16 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  display: flex;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14-11 .overlap-group {
  height: 60px;
  position: relative;
  width: 428px;
}

.macbook-pro-14-11 .div-17 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-11 .link {
  align-items: flex-start;
  background-color: var(--moon-raker);
  cursor: pointer;
  display: flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
  width: fit-content;
}

.macbook-pro-14-11 .rate-my-ta {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 254px;
}

.macbook-pro-14-11 .flex-col-6 {
  align-items: flex-start;
  gap: 29px;
  margin-bottom: -10px;
  min-height: 149px;
  width: 362px;
}

.macbook-pro-14-11 .link-1 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14-11 .div-18 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-11 .div-19 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
  width: fit-content;
}

.macbook-pro-14-11 .div-20 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-11 .ads-bias-on-instagram {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 254px;
}

.macbook-pro-14-11 .div-21 {
  background-color: var(--snuff);
  height: 95px;
  width: 1600px;
}

.macbook-pro-14-11 .flex-col-7 {
  display: flex;
  flex-direction: column;
}

.macbook-pro-14-11 .h4-4 {
  align-items: flex-start;
  display: flex;
  padding: 0px 66.05px 0.38px 0px;
  position: relative;
  width: fit-content;
}
