/* screen - macbook-pro-14-18 */

.macbook-pro-14-18 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 4518px;
  overflow: hidden;
  width: 1497px;
}

.macbook-pro-14-18 .overlap-group {
  height: 95px;
  margin-left: -103px;
  margin-top: 4423px;
  position: relative;
  width: 1668px;
}

.macbook-pro-14-18 .div {
  background-color: var(--snuff);
  height: 95px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1600px;
}

.macbook-pro-14-18 .div-1 {
  background-color: var(--snuff);
  height: 95px;
  left: 68px;
  position: absolute;
  top: 0;
  width: 1600px;
}
