/* screen - macbook-pro-14-15 */

.macbook-pro-14-15 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 6615px;
  overflow: hidden;
  width: 1497px;
}

.macbook-pro-14-15 .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -217px;
  margin-top: 52px;
  min-height: 2127px;
  width: 1719px;
}

.macbook-pro-14-15 .group-2294 {
  align-items: center;
  display: flex;
  gap: 11px;
  margin-left: 73px;
  min-width: 95px;
}

.macbook-pro-14-15 .div {
  align-items: flex-start;
  background-color: var(--athens-gray);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  width: 50px;
}

.macbook-pro-14-15 .nyc_headshot_-_cropped_aoyjpg {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.macbook-pro-14-15 .div-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .div-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 1.39px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .frame-1436 {
  background-color: var(--link-water);
  height: 888px;
  margin-left: 4px;
  margin-top: 34px;
  position: relative;
  width: 1700px;
}

.macbook-pro-14-15 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--picton-blue-3);
  border-radius: 53.07px;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  left: 30px;
  min-width: 67px;
  padding: 8.7px 9.5px;
  position: absolute;
  top: 21px;
}

.macbook-pro-14-15 .flex-col-1 {
  align-items: flex-start;
  gap: 1px;
  left: 113px;
  min-height: 41px;
  position: absolute;
  top: 31px;
  width: 126px;
}

.macbook-pro-14-15 .flex-col-2 {
  align-items: flex-start;
  left: 462px;
  min-height: 518px;
  position: absolute;
  top: 32px;
  width: 366px;
}

.macbook-pro-14-15 .overlap-group2 {
  align-items: center;
  background-image: url(../img/vector.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 33px;
  left: 0;
  min-height: 107px;
  position: absolute;
  top: 0;
  width: 85px;
}

.macbook-pro-14-15 .overlap-group-2 {
  height: 69px;
  margin-right: 0;
  position: relative;
  width: 16px;
}

.macbook-pro-14-15 .group-2233 {
  align-items: flex-end;
  display: flex;
  margin-left: 3.16px;
  margin-top: 45px;
  min-width: 105px;
}

.macbook-pro-14-15 .overlap-group3 {
  height: 85px;
  margin-bottom: 0;
  position: relative;
  width: 105px;
}

.macbook-pro-14-15 .overlap-group-3 {
  height: 193px;
  margin-bottom: -29.46px;
  margin-left: -7px;
  position: relative;
  width: 338px;
}

.macbook-pro-14-15 .union-2 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 128px;
  width: 47px;
}

.macbook-pro-14-15 .flex-col-3 {
  align-items: flex-start;
  gap: 22px;
  left: 0;
  min-height: 601px;
  position: absolute;
  top: 0;
  width: 445px;
}

.macbook-pro-14-15 .flex-row {
  align-items: center;
  display: flex;
  gap: 37px;
  height: 327px;
  min-width: 431px;
}

.macbook-pro-14-15 .overlap-group4 {
  height: 269px;
  margin-top: 21.65px;
  position: relative;
  width: 132px;
}

.macbook-pro-14-15 .flex-col-4 {
  align-items: center;
  gap: 67px;
  min-height: 327px;
  width: 262px;
}

.macbook-pro-14-15 .flex-row-1 {
  align-items: flex-end;
  display: flex;
  gap: 31px;
  height: 148px;
  min-width: 262px;
}

.macbook-pro-14-15 .flex-col-5 {
  align-items: flex-start;
  gap: 51px;
  min-height: 148px;
  width: 104px;
}

.macbook-pro-14-15 .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 41px;
  height: 252px;
  min-width: 445px;
}

.macbook-pro-14-15 .flex-col-6 {
  align-items: flex-start;
  gap: 9px;
  min-height: 252px;
  width: 266px;
}

.macbook-pro-14-15 .overlap-group1 {
  height: 206px;
  position: relative;
  width: 241px;
}

.macbook-pro-14-15 .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 184px;
  height: 308px;
  margin-left: 128px;
  margin-top: 107px;
  min-width: 1207px;
}

.macbook-pro-14-15 .flex-col-7 {
  align-items: flex-start;
  gap: 28px;
  min-height: 308px;
  width: 814px;
}

.macbook-pro-14-15 .spring-2023-ux-design {
  height: 31px;
  letter-spacing: 1.12px;
  line-height: 19px;
  width: 210px;
}

.macbook-pro-14-15 .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12.0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0px 14px 0px 0px;
  position: relative;
  width: 208.67px;
}

.macbook-pro-14-15 .group-2 {
  height: 46px;
  min-width: 209px;
  position: relative;
}

.macbook-pro-14-15 .header-container {
  height: 46px;
  position: relative;
  width: 209px;
}

.macbook-pro-14-15 .group-3 {
  height: 42px;
  min-width: 209px;
  position: relative;
}

.macbook-pro-14-15 .overlap-group1-1 {
  height: 42px;
  position: relative;
  width: 209px;
}

.macbook-pro-14-15 .group-container {
  height: 633px;
  margin-top: 107px;
  position: relative;
  width: 1719px;
}

.macbook-pro-14-15 .group-2277 {
  align-items: flex-start;
  display: flex;
  height: 199px;
  justify-content: flex-end;
  left: 0;
  min-width: 1719px;
  padding: 0 4.0px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-15 .overlap-group5 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/rectangle-1579.svg);
  background-size: 100% 100%;
  display: flex;
  height: 196px;
  min-width: 437px;
  padding: 57.0px 1.5px;
}

.macbook-pro-14-15 .problem-statement {
  height: 55px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 402px;
}

.macbook-pro-14-15 .overlap-group6 {
  align-items: flex-end;
  background-color: var(--soft-peach);
  display: flex;
  height: 196px;
  min-width: 1273px;
  padding: 38.9px 48.1px;
}

.macbook-pro-14-15 .group-2285 {
  align-items: flex-start;
  background-color: var(--selago);
  display: flex;
  flex-direction: column;
  gap: 47px;
  left: 5px;
  min-height: 437px;
  padding: 49px 202px;
  position: absolute;
  top: 196px;
  width: 1497px;
}

.macbook-pro-14-15 .process {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 0.77px;
  min-height: 108px;
  width: 234px;
}

.macbook-pro-14-15 .overlap-group1-2 {
  height: 149px;
  position: relative;
  width: 1013px;
}

.macbook-pro-14-15 .upload-36502572-2def {
  height: 80px;
  left: 800px;
  position: absolute;
  top: 7px;
  width: 121px;
}

.macbook-pro-14-15 .overlap-group4-1 {
  height: 149px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1013px;
}

.macbook-pro-14-15 .overlap-group3-1 {
  height: 149px;
  left: 0;
  position: absolute;
  top: 0;
  width: 726px;
}

.macbook-pro-14-15 .overlap-group2-1 {
  height: 149px;
  left: 0;
  position: absolute;
  top: 0;
  width: 666px;
}

.macbook-pro-14-15 .overlap-group-4 {
  height: 149px;
  left: 0;
  position: absolute;
  top: 0;
  width: 529px;
}

.macbook-pro-14-15 .upload-bd68f437-be4f {
  height: 80px;
  left: 408px;
  position: absolute;
  top: 7px;
  width: 121px;
}

.macbook-pro-14-15 .group-2275 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 0;
  min-height: 149px;
  padding: 0 0.0px;
  position: absolute;
  top: 0;
  width: 245px;
}

.macbook-pro-14-15 .upload-03c24342-d99a {
  height: 80px;
  width: 121px;
}

.macbook-pro-14-15 .contextual-inquiry {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 47px;
  width: 163px;
}

.macbook-pro-14-15 .group-2276 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  left: 217px;
  min-height: 141px;
  position: absolute;
  top: 8px;
  width: 276px;
}

.macbook-pro-14-15 .upload-55ecfdca-11d2 {
  height: 80px;
  margin-left: 0;
  width: 121px;
}

.macbook-pro-14-15 .semi-structured-interview {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 47px;
  width: 224px;
}

.macbook-pro-14-15 .usability-testing {
  left: 515px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 102px;
  width: 151px;
}

.macbook-pro-14-15 .upload-c06bd688-1d72 {
  height: 80px;
  left: 605px;
  position: absolute;
  top: 7px;
  width: 121px;
}

.macbook-pro-14-15 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 47px;
  left: 679px;
  min-width: 333px;
  position: absolute;
  top: 102px;
}

.macbook-pro-14-15 .affinity-diagramming {
  letter-spacing: 0;
  line-height: normal;
  min-height: 47px;
  width: 209px;
}

.macbook-pro-14-15 .prototyping {
  letter-spacing: 0;
  line-height: normal;
  min-height: 47px;
  width: 101px;
}

.macbook-pro-14-15 .flex-row-5 {
  align-items: center;
  display: flex;
  gap: 22px;
  height: 1006px;
  margin-left: 34.0px;
  margin-top: 72px;
  min-width: 1427px;
}

.macbook-pro-14-15 .flex-col-8 {
  align-items: flex-start;
  margin-bottom: 47.0px;
  min-height: 905px;
  width: 954px;
}

.macbook-pro-14-15 .header-1 {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 18px;
  min-width: 314px;
  text-align: center;
  white-space: nowrap;
}

.macbook-pro-14-15 .container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 34px;
  position: relative;
  width: 940px;
}

.macbook-pro-14-15 .flex-row-6 {
  align-items: center;
  display: flex;
  gap: 50px;
  height: 429px;
  margin-top: 159px;
  min-width: 914px;
}

.macbook-pro-14-15 .flex-col-9 {
  align-items: center;
  gap: 4px;
  margin-top: 58.97px;
  min-height: 244px;
  width: 500px;
}

.macbook-pro-14-15 .flex-col-10 {
  align-items: center;
  min-height: 429px;
  width: 364px;
}

.macbook-pro-14-15 .flex-col-11 {
  align-items: flex-start;
  gap: 16px;
  min-height: 1006px;
  width: 451px;
}

.macbook-pro-14-15 .flex-col-12 {
  align-items: center;
  gap: 213px;
  min-height: 780px;
  width: 451px;
}

.macbook-pro-14-15 .brown-beige-aestheti {
  height: 387px;
  margin-right: 7.0px;
  object-fit: cover;
  width: 398px;
}

.macbook-pro-14-15 .overlap-group11 {
  height: 180px;
  position: relative;
  width: 451px;
}

.macbook-pro-14-15 .overlap-group9 {
  height: 166px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 336px;
}

.macbook-pro-14-15 .image-1-1 {
  height: 92px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 204px;
}

.macbook-pro-14-15 .flex-row-7 {
  align-items: flex-start;
  display: flex;
  gap: 31px;
  height: 210px;
  min-width: 451px;
}

.macbook-pro-14-15 .image-4-1 {
  height: 101px;
  object-fit: cover;
  width: 204px;
}

.macbook-pro-14-15 .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/rectangle-1584.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 145px;
  min-height: 1152px;
  padding: 14px 114px;
  width: 1245px;
}

.macbook-pro-14-15 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 446px;
  margin-top: 50px;
  min-width: 988px;
}

.macbook-pro-14-15 .overlap-group-5 {
  background-image: url(../img/rectangle-1558.svg);
  background-size: 100% 100%;
  height: 414px;
  margin-top: 5px;
  position: relative;
  width: 255px;
}

.macbook-pro-14-15 .name {
  height: 33px;
  left: 78px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 351px;
  white-space: nowrap;
  width: 98px;
}

.macbook-pro-14-15 .overlap-group1-3 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1559.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 79px;
  min-height: 441px;
  padding: 23.1px 21.8px;
  width: 293px;
}

.macbook-pro-14-15 .name-1 {
  align-self: center;
  height: 13px;
  line-height: 35px;
  margin-bottom: -22px;
  margin-left: 7.0px;
  width: 70px;
}

.macbook-pro-14-15 .overlap-group3-2 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/rectangle-1562.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 69px;
  min-height: 441px;
  padding: 6.8px 24.5px;
  width: 292px;
}

.macbook-pro-14-15 .overlap-group-container-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 126px;
  margin-right: 67.47px;
  margin-top: 62px;
  min-width: 672px;
}

.macbook-pro-14-15 .overlap-group2-2 {
  background-image: url(../img/rectangle-1560.svg);
  background-size: 100% 100%;
  height: 441px;
  position: relative;
  width: 281px;
}

.macbook-pro-14-15 .overlap-group4-2 {
  align-items: flex-start;
  background-image: url(../img/rectangle-1563.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 49px;
  min-height: 441px;
  padding: 40px 7.6px;
  width: 265px;
}

.macbook-pro-14-15 .group-2282 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 79px;
  margin-left: 35.39px;
  margin-top: 107px;
  min-height: 522px;
  width: 1352px;
}

.macbook-pro-14-15 .flex-row-8 {
  align-items: center;
  display: flex;
  height: 356px;
  margin-left: 0;
  min-width: 1340px;
}

.macbook-pro-14-15 .group-2290 {
  align-items: flex-start;
  background-color: var(--mystic-2);
  display: flex;
  height: 549px;
  justify-content: flex-end;
  margin-top: 142px;
  min-width: 1497px;
  padding: 63px 18.4px;
}

.macbook-pro-14-15 .overlap-group3-3 {
  height: 387px;
  margin-left: 56px;
  position: relative;
  width: 739px;
}

.macbook-pro-14-15 .flex-row-9 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 301px;
  margin-right: 2.0px;
  min-width: 217px;
}

.macbook-pro-14-15 .group-container-1 {
  height: 342px;
  margin-left: 27px;
  position: relative;
  width: 489px;
}

.macbook-pro-14-15 .overlap-group-6 {
  align-self: flex-end;
  height: 307px;
  margin-right: 2.0px;
  position: relative;
  width: 145px;
}

.macbook-pro-14-15 .overlap-group1-4 {
  height: 342px;
  left: 206px;
  position: absolute;
  top: 0;
  width: 283px;
}

.macbook-pro-14-15 .overlap-group7 {
  height: 346px;
  margin-left: 1.0px;
  position: relative;
  width: 1522px;
}

.macbook-pro-14-15 .group-19 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -62px;
  min-height: 395px;
  width: 1712px;
}

.macbook-pro-14-15 .div-3 {
  align-items: flex-start;
  background-color: var(--mystic);
  display: flex;
  gap: 48px;
  height: 307px;
  min-width: 1712px;
  padding: 40px 283.4px;
}

.macbook-pro-14-15 .div-4 {
  align-items: flex-start;
  display: flex;
  height: 189px;
  width: 350px;
}

.macbook-pro-14-15 .div-5 {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .div-6 {
  background-color: var(--athens-gray);
  border-radius: 30px;
  height: 60px;
  min-width: 60px;
  overflow: hidden;
  position: relative;
}

.macbook-pro-14-15 .nyc_headshot_-_cropped_aoyjpg-1 {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.macbook-pro-14-15 .div-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 6.52px 0px 0px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .resume {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-15 .div-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 189px;
  width: 747px;
}

.macbook-pro-14-15 .see-more-of-my-work {
  height: 18px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.macbook-pro-14-15 .div-9 {
  align-items: flex-end;
  display: flex;
  gap: 24px;
  height: 144px;
  min-width: 747px;
}

.macbook-pro-14-15 .flex-col-15 {
  align-items: flex-start;
  gap: 29px;
  margin-bottom: -10px;
  margin-left: -4px;
  min-height: 149px;
  width: 366px;
}

.macbook-pro-14-15 .link {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  width: 362px;
}

.macbook-pro-14-15 .div-10 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  display: flex;
  min-width: 60px;
}

.macbook-pro-14-15 .div-11 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .h4 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .div-12 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  display: flex;
  margin-left: 4.0px;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14-15 .overlap-group {
  height: 60px;
  position: relative;
  width: 428px;
}

.macbook-pro-14-15 .div-13 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-15 .div-14 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  cursor: pointer;
  display: flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
  width: fit-content;
}

.macbook-pro-14-15 .rate-my-ta {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 254px;
}

.macbook-pro-14-15 .flex-col-16 {
  align-items: flex-start;
  gap: 19px;
  min-height: 139px;
  width: 362px;
}

.macbook-pro-14-15 .div-15 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  display: flex;
  min-width: 60px;
}

.macbook-pro-14-15 .div-16 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
  width: fit-content;
}

.macbook-pro-14-15 .oh-lab {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14-15 .div-17 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  display: flex;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14-15 .div-18 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-15 .div-19 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
  width: fit-content;
}

.macbook-pro-14-15 .div-20 {
  background-color: var(--snuff);
  height: 88px;
  width: 1712px;
}

.macbook-pro-14-15 .flex-col-17 {
  display: flex;
  flex-direction: column;
}

.macbook-pro-14-15 .h4-4 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}
