/* screen - macbook-pro-14u34-19 */

.macbook-pro-14u34-19 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5525px;
  overflow: hidden;
  width: 1497px;
}

.macbook-pro-14u34-19 .group-container {
  height: 5723px;
  margin-left: -115px;
  margin-top: -205px;
  position: relative;
  width: 1712px;
}

.macbook-pro-14u34-19 .flex-col {
  flex-direction: column;
  gap: 55px;
  margin-left: 15.0px;
  min-height: 1087px;
  width: 1497px;
}

.macbook-pro-14u34-19 .div {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  margin-left: 39.87px;
  position: relative;
  width: 82px;
}

.macbook-pro-14u34-19 .div-1 {
  background-color: var(--athens-gray);
  border-radius: 25px;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.macbook-pro-14u34-19 .nyc_headshot_-_cropped_aoyjpg {
  height: 50px;
  left: -2781px;
  object-fit: cover;
  position: absolute;
  top: -3984px;
  width: 50px;
}

.macbook-pro-14u34-19 .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -12.57px;
  padding: 0px 1.39px 0px 0px;
  position: relative;
}

.macbook-pro-14u34-19 .overlap-group3 {
  height: 685px;
  position: relative;
  width: 1497px;
}

.macbook-pro-14u34-19 .div-3 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(199.86, 209.94, 229.5) 0%, rgb(249, 245, 255) 100%);
  display: flex;
  height: 685px;
  justify-content: flex-end;
  left: 0;
  min-width: 1497px;
  padding: 159.9px 278px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .div-4 {
  height: 365px;
  position: relative;
  width: 940px;
}

.macbook-pro-14u34-19 .overlap-group-1 {
  height: 164px;
  margin-top: -15px;
  position: relative;
  width: 453px;
}

.macbook-pro-14u34-19 .title {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-weight: 700;
  height: 124px;
  left: 0;
  letter-spacing: 0;
  line-height: 62px;
  position: absolute;
  top: 0;
  width: 453px;
}

.macbook-pro-14u34-19 .span1 {
  color: var(--science-blue);
}

.macbook-pro-14u34-19 .a {
  align-items: flex-start;
  background-color: var(--cardinal-pink);
  border-radius: 10px;
  display: inline-flex;
  padding: 10px 19.53px 10px 20px;
  position: relative;
}

.macbook-pro-14u34-19 .design {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-19 .overlap-group2 {
  height: 485px;
  position: relative;
  width: 781px;
}

.macbook-pro-14u34-19 .overlap-group-2 {
  align-items: center;
  background-color: var(--defaultgray900);
  border: 2px solid;
  border-color: var(--defaultgray700);
  border-radius: 28px 28px 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  left: 76px;
  min-height: 463px;
  padding: 2.2px 1.9px;
  position: absolute;
  top: 0;
  width: 632px;
}

.macbook-pro-14u34-19 .overlap-group1 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(13, 16, 18) 0%, rgb(202.46, 212.31, 218.88) 2.95%, rgb(36, 39, 41) 6.25%, rgb(163.39, 171.82, 177.44) 13.36%, rgb(163, 172, 177) 86.6%, rgb(36, 39, 41) 94.19%, rgb(202, 212, 219) 97.13%, rgb(13, 16, 18) 99.64%);
  border-radius: 2px 2px 0px 0px;
  display: flex;
  height: 15px;
  justify-content: flex-end;
  left: 0;
  min-width: 781px;
  padding: 0 325.4px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .fall-2022-ux-design {
  color: var(--science-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 19px;
  letter-spacing: 1.12px;
  line-height: 19px;
  margin-left: 172px;
  width: 212px;
}

.macbook-pro-14u34-19 .flex-row {
  gap: 140px;
  height: 384px;
  margin-left: 110.0px;
  margin-top: 25px;
  min-width: 1288px;
}

.macbook-pro-14u34-19 .flex-col-1 {
  align-self: flex-end;
  gap: -2px;
  min-height: 378px;
  width: 815px;
}

.macbook-pro-14u34-19 .role {
  height: 24px;
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: -10px;
  margin-top: 15px;
  white-space: nowrap;
}

.macbook-pro-14u34-19 .timeline {
  height: 24px;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 13px;
  white-space: nowrap;
}

.macbook-pro-14u34-19 .name {
  height: 19px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -9px;
  margin-left: 1px;
  white-space: nowrap;
}

.macbook-pro-14u34-19 .div-5 {
  align-items: flex-end;
  background-color: #566599;
  border-radius: 10px;
  box-shadow: 1px 1px 40px #3c055a1a;
  display: flex;
  height: 297px;
  margin-right: 8.0px;
  margin-top: 4px;
  min-width: 1166px;
  padding: 6px 103px;
}

.macbook-pro-14u34-19 .overlap-group7 {
  height: 670px;
  margin-right: 22.83px;
  margin-top: 86px;
  position: relative;
  width: 827px;
}

.macbook-pro-14u34-19 .results {
  align-self: flex-end;
  height: 24px;
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: -10px;
  margin-right: 201.61px;
  margin-top: 90px;
  white-space: nowrap;
  width: 721px;
}

.macbook-pro-14u34-19 .overlap-group4 {
  align-items: flex-start;
  background-color: #d3d8e3;
  border-radius: 30px;
  display: flex;
  gap: 16px;
  height: 419px;
  justify-content: flex-end;
  margin-right: 22.0px;
  margin-top: 49px;
  min-width: 900px;
  padding: 11px 0;
}

.macbook-pro-14u34-19 .flex-col-2 {
  align-self: center;
  gap: 6px;
  margin-top: 5.0px;
  min-height: 384px;
  width: 464px;
}

.macbook-pro-14u34-19 .overlap-group-3 {
  background-color: #f3ddee;
  border-radius: 30px;
  height: 375px;
  margin-right: 22.0px;
  margin-top: 49px;
  position: relative;
  width: 900px;
}

.macbook-pro-14u34-19 .flex-col-3 {
  gap: 24px;
  min-height: 313px;
  width: 461px;
}

.macbook-pro-14u34-19 .span1-1 {
  color: #7208a4;
  font-size: var(--font-size-m);
}

.macbook-pro-14u34-19 .flex-row-1 {
  align-items: center;
  background-color: #34527e;
  display: flex;
  gap: 35px;
  height: 981px;
  justify-content: flex-end;
  margin-left: 34.0px;
  margin-top: 74px;
  min-width: 1412px;
  padding: 17px 32px;
}

.macbook-pro-14u34-19 .flex-col-4 {
  align-self: flex-end;
  gap: 48px;
  min-height: 898px;
  width: 592px;
}

.macbook-pro-14u34-19 .span3 {
  color: #cc9d9d;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
}

.macbook-pro-14u34-19 .flex-col-5 {
  gap: 41px;
  margin-bottom: 12.0px;
  min-height: 823px;
  width: 691px;
}

.macbook-pro-14u34-19 .overlap-group6 {
  align-items: flex-end;
  background-color: #eceaf3;
  display: flex;
  height: 221px;
  margin-right: 1.0px;
  margin-top: 15px;
  min-width: 1113px;
  padding: 26px 43.6px;
}

.macbook-pro-14u34-19 .div-6 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--mystic);
  display: flex;
  gap: 48px;
  height: 307px;
  margin-left: 1.11px;
  margin-top: 60px;
  min-width: 1692px;
  padding: 40px 273.4px;
}

.macbook-pro-14u34-19 .div-7 {
  align-items: flex-start;
  display: flex;
  height: 189px;
  width: 350px;
}

.macbook-pro-14u34-19 .div-8 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  position: relative;
}

.macbook-pro-14u34-19 .div-9 {
  background-color: var(--athens-gray);
  border-radius: 30px;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px;
}

.macbook-pro-14u34-19 .nyc_headshot_-_cropped_aoyjpg-1 {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.macbook-pro-14u34-19 .div-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 6.52px 0px 0px;
  position: relative;
}

.macbook-pro-14u34-19 .name-1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-19 .resume {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-19 .div-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 189px;
  width: 747px;
}

.macbook-pro-14u34-19 .see-more-of-my-work {
  height: 18px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.macbook-pro-14u34-19 .div-12 {
  align-items: flex-end;
  display: flex;
  gap: 24px;
  height: 144px;
  min-width: 747px;
}

.macbook-pro-14u34-19 .flex-col-6 {
  gap: 29px;
  margin-bottom: -10px;
  min-height: 149px;
  width: 362px;
}

.macbook-pro-14u34-19 .overlap-group2-1 {
  align-items: center;
  background-color: var(--lola);
  display: flex;
  height: 60px;
  min-width: 60px;
  padding: 0 5px;
}

.macbook-pro-14u34-19 .mac-book-pro-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 50px;
}

.macbook-pro-14u34-19 .screen-body {
  align-items: center;
  background-image: url(../img/screen-body@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4.77px;
  min-height: 28px;
  width: 41px;
}

.macbook-pro-14u34-19 .camera {
  align-items: flex-end;
  background-color: var(--woodsmoke);
  border: 0.2px solid;
  border-color: var(--licorice);
  border-radius: 0.14px;
  display: flex;
  justify-content: flex-end;
  margin-left: 0.68px;
  margin-top: 1px;
  min-width: 1px;
}

.macbook-pro-14u34-19 .ellipse-container {
  background-color: var(--mirage);
  border-radius: 0.03px;
  margin-bottom: -0.14px;
  position: relative;
}

.macbook-pro-14u34-19 .ellipse-3 {
  background-color: var(--cod-gray);
  border-radius: 0.03px;
  left: 0;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .ellipse-2 {
  background-color: var(--steel-gray);
  border-radius: 0.05px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .display-paste-your-img {
  align-items: center;
  background-color: var(--defaultshadeblack);
  display: flex;
  margin-right: 0.28px;
  padding: 0 0.0px;
  width: 39px;
}

.macbook-pro-14u34-19 .overlap-group-4 {
  align-items: flex-start;
  background-image: url(../img/cover@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 39px;
}

.macbook-pro-14u34-19 .screenshot-2023-05-07-at-1058-1 {
  height: 25px;
  width: 39px;
}

.macbook-pro-14u34-19 .macbook-pro-13-sign {
  height: 1px;
  margin-right: 0;
  margin-top: 1px;
  width: 41px;
}

.macbook-pro-14u34-19 .body {
  height: 2px;
  width: 50px;
}

.macbook-pro-14u34-19 .div-13 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
}

.macbook-pro-14u34-19 .h4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.macbook-pro-14u34-19 .emo-sense {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-19 .div-14 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  display: flex;
  margin-left: 0.11px;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14u34-19 .overlap-group {
  height: 60px;
  position: relative;
  width: 428px;
}

.macbook-pro-14u34-19 .div-15 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .div-16 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  cursor: pointer;
  display: inline-flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
}

.macbook-pro-14u34-19 .rate-my-ta {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  width: 254px;
}

.macbook-pro-14u34-19 .flex-col-7 {
  gap: 28px;
  margin-bottom: -9px;
  min-height: 148px;
  width: 362px;
}

.macbook-pro-14u34-19 .div-17 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  display: flex;
  min-width: 60px;
}

.macbook-pro-14u34-19 .div-18 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  padding: 20.41px 25.72px 19.59px 24px;
  position: relative;
}

.macbook-pro-14u34-19 .oh-lab {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.macbook-pro-14u34-19 .div-19 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  box-shadow: 0px 20px 20px -20px #0000001a;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  width: 362px;
}

.macbook-pro-14u34-19 .div-20 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 60px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-19 .div-21 {
  align-items: flex-start;
  background-color: var(--moon-raker);
  display: inline-flex;
  left: 60px;
  padding: 9.81px 24px 10.81px;
  position: absolute;
  top: 9px;
}

.macbook-pro-14u34-19 .ads-bias-on-instagram {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  width: 254px;
}

.macbook-pro-14u34-19 .div-22 {
  align-self: flex-start;
  background-color: var(--snuff);
  height: 88px;
  width: 1700px;
}

.macbook-pro-14u34-19 .group-2294 {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 50px;
  left: 174px;
  min-width: 95px;
  position: absolute;
  top: 245px;
}

.macbook-pro-14u34-19 .div-23 {
  align-items: flex-start;
  background-color: var(--athens-gray);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  width: 50px;
}

.macbook-pro-14u34-19 .nyc_headshot_-_cropped_aoyjpg-2 {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.macbook-pro-14u34-19 .div-24 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.macbook-pro-14u34-19 .div-25 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 1.39px 0px 0px;
  position: relative;
}

.macbook-pro-14u34-19 .flex {
  align-items: flex-start;
  display: flex;
}

.macbook-pro-14u34-19 .flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.macbook-pro-14u34-19 .h4-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}
