:root { 
  --alabaster: #fafafa;
  --athens-gray: #edf1f1;
  --cape-cod: #424242;
  --cardinal-pink: #890066;
  --charade: #2d2936;
  --chestnut: #b75e5e;
  --cod-gray: #0a0b0d;
  --cosmic: #74405e;
  --defaultgray500: #a0aec0;
  --defaultgray700: #4a5568;
  --defaultgray900: #1a202c;
  --defaultshadeblack: #000000;
  --dove-gray: #707070;
  --dove-gray-2: #6d6d6d;
  --eerie-black: #1a1b1f;
  --licorice: #151515;
  --lola: #dfcbd6;
  --mahogany: #4d090d;
  --medium-red-violet: #a22186;
  --mirage: #16181e;
  --moon-raker: #d1d0f6;
  --mystic: #e3ecf1;
  --onyx: #353738;
  --onyx-2: #3a3a3a;
  --outrageous-orange: #ff5b37;
  --patina: #5e9393;
  --pearly-purple: #b16a99;
  --picton-blue: #3ac8e8;
  --picton-blue-2: #2cb4ef;
  --princess-perfume: #ff98d5;
  --purple: #7308a5;
  --quick-silver: #9fa6a9;
  --science-blue: #0057e1;
  --sea-serpent: #3fc8e1;
  --shilo: #e7b3b3;
  --snuff: #dcd4e7;
  --soapstone: #fffafa;
  --star-dust: #a0a09f;
  --steel-gray: #1f2531;
  --trout: #475461;
  --unmellow-yellow: #0038ef;
  --victoria: #53479c;
  --white: #ffffff;
  --woodsmoke: #0f0f0f;
 
  --font-size-l: 12px;
  --font-size-m: 11px;
  --font-size-xl: 15px;
  --font-size-xxl: 16px;
  --font-size-xxxl: 17px;
  --font-size-xxxxl: 18px;
  --font-size-xxxxxl: 20px;
 
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-kantumruy: "Kantumruy", Helvetica;
  --font-family-lato: "Lato", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-rubik: "Rubik", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.lato-normal-trout-16px {
  color: var(--trout);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.kantumruy-light-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-kantumruy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-black-16px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-unmellow-yellow-20px {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-white-11px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.montserrat-bold-victoria-11px {
  color: var(--victoria);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.sourcesanspro-normal-medium-red-violet-16px {
  color: var(--medium-red-violet);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-black-20px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-unmellow-yellow-20px {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.kantumruy-bold-cosmic-11px {
  color: var(--cosmic);
  font-family: var(--font-family-kantumruy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-17px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-black-16px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-thin-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 100;
}

.lato-bold-onyx-18px {
  color: var(--onyx);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-cape-cod-14px {
  color: var(--cape-cod);
  font-family: var(--font-family-lato);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}

.sourcesanspro-semi-bold-quick-silver-14px {
  color: var(--quick-silver);
  font-family: var(--font-family-source_sans_pro);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-shilo-20px {
  color: var(--shilo);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-medium-red-violet-11px {
  color: var(--medium-red-violet);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 600;
}

.montserrat-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-dove-gray-16px {
  color: var(--dove-gray-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-purple-11px {
  color: var(--purple);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-star-dust-15px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-unmellow-yellow-18px {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-12px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-black-20px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-bold-onyx-36px {
  color: var(--onyx-2);
  font-family: var(--font-family-poppins);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.rubik-bold-black-14-4px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-rubik);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-20px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-pearly-purple-11px {
  color: var(--pearly-purple);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-soapstone-20px {
  color: var(--soapstone);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.kantumruy-bold-black-60px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-kantumruy);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.kantumruy-light-cosmic-11px {
  color: var(--cosmic);
  font-family: var(--font-family-kantumruy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.kantumruy-bold-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-kantumruy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mahogany-30px {
  color: var(--mahogany);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-19px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-11px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-black-15px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-16px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-eerie-black-40px {
  color: var(--eerie-black);
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-dove-gray-16px-2 {
  color: var(--dove-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-black-16px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-20px-2 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-black-11px {
  color: var(--defaultshadeblack);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
